*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after, *::before{
   padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}


.small-img{
  max-width: 24px;
}

.white-background{
  background: #fff;
}


ol, ul{
  list-style: none;

}

a{
  text-decoration: none;
}

.btn-list{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-view-wrapper{
  padding: 36px;
  min-height: 100vh;
  background-color: #ededed;
}